#popup-new-lead.modal.fade.custom-modal
  .modal-dialog.modal-500
    .modal-content
      .modal-header
        .title-row
          = t("leads.create")
      .modal-body
        = form_tag(leads_path, method: :post, remote: :true, class: "custom-form", id: "form-create-lead") do
          = hidden_field_tag :authenticity_token, form_authenticity_token
          .row
            .col-xs-12
              .form-group
                = label_tag :company_name, t("leads.company-name", required: "*")
                = text_field_tag :company_name, nil, class: "form-control", required: true
              .form-group
                = label_tag :contact_name, t("leads.contact-name")
                = text_field_tag :contact, nil, class: "form-control"
              .form-group
                = label_tag :phone_number, t("leads.phone")
                = text_field_tag :phone, nil, class: "form-control", pattern: "\\+?[\\s\\d]+", title: t("leads.phone-format")
              .form-group
                = label_tag :email_address, t("leads.email")
                = select_tag :email, [], class: "form-control select2-tags", multiple: true
              .form-group.use-caret
                = label_tag :industry, t("leads.industry", required: "*")
                = select_tag :industry_id, options_for_select(@industry_lists), class: "form-control select2-option", required: true
              .form-group
                = label_tag :address, t("leads.address")
                = text_field_tag :address, nil, class: "form-control"
              .form-group
                = label_tag :descriptions, t("leads.desc")
                = text_field_tag :descriptions, nil, class: "form-control"
      .modal-footer
        %button.btn.btn-cancel.min-width-100(data-dismiss="modal")
          = t("btn.cancel")
        %button.btn.btn-green.min-width-100{form: "form-create-lead", type: "submit"}
          = t("btn.create")