.container.overflow-scroll
  .row.height-inherit-on-large.padding-top-15
    = render partial: "helpers/filter_box", locals: {choices: @leads_status_filter, search_url: search_leads_path, title: t("leads.index")}
    .col-xs-12.col-sm-9
      .text-right.margin-bottom-15
        %button.btn.btn-blue(data-toggle="modal" data-target="#popup-new-lead")
          = t("leads.new-btn")
      %table.table.target-form-result
        %thead
          %tr
            %th.sort-header(data-sort="desc" data-el="#search_sort")
              = t("leads.company-name-full", required: "").html_safe
            %th
              = t("leads.email-full").html_safe
            %th
              = t("leads.contact-full").html_safe
            %th
              = t("leads.status")
        %tbody
          %tr
            %td
              hello
            %td
              hello
            %td
              hello
            %td
              hello
    = render partial: "helpers/pagination", locals: {first_page: @first_page, last_page: @last_page}

= render partial: "popup_new_lead";