.container.overflow-scroll#scrolling
  .row.height-inherit-on-large.padding-top-15
    = render partial: "helpers/filter_box", locals: {choices: @leads_status_filter, search_url: search_leads_path, title: t("leads.index")}
    .col-xs-12.col-sm-9
      .row-header
        .row
          .col-xs-6.font-16.flex.align-items-center
            %span.glyphicon.glyphicon-menu-left.hover{onclick: "history.back();"}
            .title.margin-left-10
              = @lead.company_name
            .dropdown.flex.margin-left-10
              .box-grey.padding-0-10
                = @lead.status
              %button.margin-left-5.glyphicon.glyphicon-triangle-bottom.padding-0-3.dropdown-toggle.box-grey#change-lead-status(data-toggle="dropdown")
              %ul.dropdown-menu.dropdown-menu-right
                - @leads_status.each do |x|
                  %li
                    = link_to x[1], update_status_lead_path(params[:id], leads_status_id: x[0]), remote: :true, method: :post, class: "dropdown-item toggle-change-lead-status"
          .col-xs-6.text-right
            %button.btn.btn-green
              = t("leads.convert-client")
            .dropdown.custom.pull-right
              #dropdown-action.dropdown-toggle(data-toggle="dropdown")
                %span.glyphicon.glyphicon-option-horizontal
              %ul.dropdown-menu.dropdown-menu-right
                %li.dropdown-item
                  %a(data-toggle="modal" data-target="#popup-update-lead")
                    = t("btn.update")
                %li.dropdown-item
                  %a(data-toggle="modal" data-target="#popup-delete-lead")
                    = t("btn.delete")
        .row
          .col-xs-2
            .custom-thumbnail
              = @lead.company_name.to_s.split(" ").map(&:first).join("").upcase
          .col-xs-10
            %div
              = @lead.contact_name
            %div
              = @lead.phone
            %div
              = @lead.email
            %div
              Jasa
            %div
              Address
            %div
              Description
      .row.margin-top-50
        .col-xs-12.title.padding-bottom-10
          = t("activity.title")
          .pull-right.custom-plus-icon(data-toggle="modal" data-target="#popup-new-activity")
            +
        .col-xs-12
          %table.table
            %tbody.scroll-container
              = render partial: "activities/lists", locals: {lists: @query_results}
          .scroll-element.overflow-scroll(data-pagination-endpoint=activity_path data-pagination-pages="#{@total_pages}" data-current-page=1 colspan=3)
          .text-center.scroll-loading
            %span.glyphicon.glyphicon-repeat.glyphicon-refresh-animate

= render partial: "popup_update_lead";
= render partial: "activities/popup_new_activity"

= render partial: "helpers/popup_delete", locals: {popup_id: "popup-delete-lead",delete_url: lead_path(params[:id]), prompt_delete: t("leads.prompt-delete")}

- content_for :scripts do
  = javascript_include_tag "activity-list", "data-turbolinks-track" => true