.col-xs-12.col-sm-3.filter-box.height-inherit-on-large
  .title-row.margin-bottom-15
    = title
  = form_tag(search_url, method: :post, remote: :true, id: "form-search") do
    = hidden_field_tag :authenticity_token, form_authenticity_token
    .row
      .form-group.has-feedback.left
        = text_field_tag :q, nil, class: "form-control search-input", placeholder: t("form.search-placeholder")
        %span.glyphicon.glyphicon-search.form-control-feedback.left
    .form-group
      - if choices.present?
        - choices.each_with_index do |choice, index|
          - value_checked = index == 0 ? true : false
          - if choice.kind_of?(Array)
            .filter-row.filter-row-parent(data-toggle="collapse" href="#collapseFilter" aria-expanded="false")
              = choice[0][:name]
            .collapse.filter-row-collapse#collapseFilter
              - choice[1].each_with_index do |c, index|
                .filter-row
                  = radio_button_tag :choice, c[:id], value_checked, onclick: '$("#form-search").submit()', id: "choice_nested_#{c[:id]}"
                  = label_tag "choice_nested_#{c[:id]}", "#{c[:name]}".html_safe
          - else
            .filter-row
              = radio_button_tag :choice, choice[:id], value_checked, onclick: '$("#form-search").submit()'
              = label_tag "choice_#{choice[:id]}", "#{choice[:name]}<span>#{choice[:count]}</span>".html_safe
    = hidden_field_tag :search_sort, "desc"
    = hidden_field_tag :page_no, id: "page_no"