.text-right.table-pagination
  = link_to '<<', '#', class: "go-page", "data-value": first_page
  = link_to '<', '#', class: "go-page", "data-value": 1
  Page
  %input#page-value{value: 1}
  = link_to 'Go', '#', class: "go-page", "data-value": 0
  = link_to '>>', '#', class: "go-page", "data-value": last_page
  = link_to '>', '#', class: "go-page", "data-value": 1