.modal.fade.custom-modal{id: "#{popup_id}"}
  .modal-dialog.modal-500
    .modal-content
      .modal-header
        .title-row
          = t("form.delete-confirmation")
      .modal-body
        = prompt_delete
      .modal-footer
        %button.btn.btn-cancel.min-width-100(data-dismiss="modal")
          = t("btn.cancel")
        = link_to t("btn.delete"), delete_url, method: :delete, remote: :true, class: "btn btn-red min-width-100", "data-dismiss" => "modal"