$red: #EA6153;

$blue-jurnal: #00303C;
$blue-table: #5E7C84;
$light-blue: #009BDE;
$blue-focus: #66afe9;

$green: #63A70A;

$white: #ffffff;
$grey: #818285;
$light-grey: #F9F9F9;
$lighter-grey: #E7E7E7;
$lightest-grey: #A7A9AC;
$dark-grey: #414042;

.white{
  color: $white;
}
.grey{
  color: $grey
}