// define class

@mixin breakpoint($breakpoint, $media: all) {
  @if $breakpoint == wvga {
    @media only screen and (max-width: 480px)  { @content; }
  }
  @if $breakpoint == mobile {
    @media only screen and (max-width: 767px)  { @content; }
  }
  @if $breakpoint == min_mobile {
    @media only screen and (min-width: 767px)  { @content; }
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width:1024px)  { @content; }
  }
}

.hover{
  &:hover{
    cursor: pointer;
  }
}

.flex{
  display: flex;
}
.align-items-center{
  align-items: center;
}
.justify-content-flex-end{
  justify-content: flex-end;
}

.padding-0-3{
  padding: 0 3px;
}
.padding-0-10{
  padding: 0 10px;
}
.padding-top-15{
  padding-top: 15px;
}
.padding-left-5{
  padding-left: 5px;
}
.padding-bottom-10{
  padding-bottom: 10px;
}
.padding-bottom-15{
  padding-bottom: 15px;
}
.margin-left-5{
  margin-left: 5px;
}
.margin-left-10{
  margin-left: 10px;
}
.margin-right-10{
  margin-right: 10px;
}
.margin-top-15{
  margin-top: 15px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-top-50{
  margin-top: 50px;
}
.margin-bottom-15{
  margin-bottom: 15px;
}

.min-width-100{
  min-width: 100px;
}

.overflow-scroll{
  overflow: scroll;
}

.modal-500{
  max-width: 500px;
  margin: 15px auto;
}

.btn{
  border-radius: 2px;
}
.btn-green{
  background-color: $green;
  color: $white;
  &:hover, &:focus{
    color: $white;
  }
}
.btn-cancel{
  color: $grey;
}
.btn-blue{
  background-color: $white;
  border-color: $blue-jurnal;
  color: $blue-jurnal;
  &:hover, &:focus{
    color: $blue-jurnal;
  }
}
.btn-red{
  background-color: $red;
  color: $white;
  &:hover, &:focus{
    color: $white;
  }
}

.glyphicon-refresh-animate{
  -animation: spin .7s infinite linear;
  -ms-animation: spin .7s infinite linear;
  -webkit-animation: spinw .7s infinite linear;
  -moz-animation: spinm .7s infinite linear;
}

@keyframes spin{
  from{ transform: scale(1) rotate(0deg);}
  to{ transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw{
  from{ -webkit-transform: rotate(0deg);}
  to{ -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm{
  from{ -moz-transform: rotate(0deg);}
  to{ -moz-transform: rotate(360deg);}
}

label:disabled, input:disabled{
  opacity: 0.3 !important;
  background: none !important;
}
input:disabled + .glyphicon{
  opacity: 0.3 !important;
}

.dropdown-menu-link{
  text-align: left;
  display: inline-block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  border: 0;
  width: 100%;
  white-space: nowrap;
}

// switch toggle
.switch{
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}

.switch{
  #input-toggle {
    display:none;
  }
  .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $lighter-grey;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before{
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: -8px;
    bottom: -3px;
    background-color: $grey;
    -webkit-transition: .4s;
    transition: .4s;
  }

  #input-toggle:focus + .slider{
    box-shadow: 0 0 1px #2196F3;
  }

  #input-toggle:checked + .slider:before{
    background-color: #FFDEA0;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  #input-toggle:checked ~ .active{
    display: inline-block;
  }
  #input-toggle:checked ~ .closed{
    display: none;
  }
  #input-toggle ~ .active{
    display: none;
  }
  #input-toggle ~ .closed{
    display: inline-block;
  }

  .active, .closed{
    margin-left: 50px;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}