// override class

$nav-width: 70px;
$filter-width: 200px;

html, body, .container{
  height: 100%;
}

.container{
  width: calc(100% - #{$nav-width});
  margin-left: $nav-width;
}

@include breakpoint(min_mobile){
  .height-inherit-on-large{
    height: inherit;
  }
}

.has-feedback.left{
  input{
    padding-left: 42.5px !important;
  }
}
.form-control::-webkit-input-placeholder, .form-control-feedback.left{
  left: 0 !important;
  color: $lightest-grey;
}

.filter-box{
  border-right: 1px solid $lighter-grey;
  .search-input{
    padding-right: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: $light-grey;
    height: 37px;
    line-height: 37px;
  }
  .filter-row{
    color: $grey;
    line-height: 23px;
    &:hover, input, label{
      cursor: pointer;
    }
    label{
      width: 100%;
      font-weight: normal;
      span{
        float: right;
      }
    }
    input{
      position: absolute;
      visibility: hidden;
      &:checked + label{
        color: $light-blue;
        font-family: $font-family-medium;
      }
    }
  }
  .filter-row-collapse{
    height: 0;
    display: block !important;
    position: relative;
    margin: 5px 0px 0 15px;
    .filter-row{
      visibility: hidden;
    }
    &:after{
      color: $grey;
      content:"\e252";
      font-family:"Glyphicons Halflings";
      position: absolute;
      right: 0px;
      top: -22px; 
      font-size: 12px;
    }
    &.in{
      height: auto;
      .filter-row{
        visibility: visible;
      }
      &:after{
        color: $grey;
        content:"\e253";
        font-family:"Glyphicons Halflings";
        position: absolute;
        right: 0px;
        top: -22px; 
        font-size: 12px;
      }
    }
  }
}

nav{
  position: absolute;
  width: $nav-width;
  height: 100%;
  background-color: $blue-jurnal;
  ul{
    padding: 17px;
    li{
      height: auto;
      padding-bottom: 15px;
      margin-bottom: 15px;
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }
  .nav-border{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.box-grey{
  color: $grey;
  background-color: $lighter-grey;
  border-radius: 3px;
  border-color: transparent;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.glyphicon.dropdown-toggle{
  top: 0px;
}
.dropdown, [data-toggle="modal"]{
  &:hover{
    cursor: pointer;
  }
}
.dropdown.custom{
  .dropdown-toggle{
    height: 34px;
    width: 34px;  
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    border: 1px solid $lightest-grey;  
    border-radius: 3px;
    color: $grey;
    margin-left: 10px;
  }
  a{
    color: $grey;
  }
}

table thead{
  tr th{
    background-color: $blue-table;
    color: white;
    font-weight: normal;
    position: relative;
    &.sort-header:hover{
      cursor: pointer;
    }
    &[data-sort="desc"]:after{
      content:"\e252";
      font-family:"Glyphicons Halflings";
      position: absolute;
      right: 15px;
      top: 9px; 
    }
    &[data-sort="asc"]:after{
      content:"\e253";
      font-family:"Glyphicons Halflings";
      position: absolute;
      right: 15px;
      top: 9px; 
    }
  }
}

.table-pagination{
  font-size: 12px;
  color: $grey;
  margin-right: 15px;
  margin-bottom: 15px;
  input{
    height: 20px;
    width: 30px;
    text-align: right;
  }
}

.title{
  font-size: 18px;
  color: $dark-grey;
  font-family: $font-family-regular;
}
.title-row{
  font-size: 18px;
  line-height: 34px;
  color: $dark-grey;
  font-family: $font-family-medium;
}

.custom-plus-icon{
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  border: 1px solid $lightest-grey;
  border-radius: 3px;
  color: #009BDE;
}

.custom-form{
  label{
    font-weight: normal;
    font-size: 12px;
    opacity: 0.7;
    color: $grey;
  }
  .form-control{
    border-radius: 0;
    border-width: 0px 0px 1px 0px;
    box-shadow: none;
    border-color: $lighter-grey;
    &:focus{
      border-color: $blue-focus;
    }
  }
  .select2-selection--multiple{
    border: 0 !important;
  }
  .select2-container{
    width: 100% !important;
    display: block;
    border-bottom: 1px solid $lighter-grey;
    &:focus{
      border-bottom: 1px solid $blue-focus;
    }
  }

  .use-caret .select2-container:after{
    content:"\e252";
    font-family:"Glyphicons Halflings";
    position: absolute;
    right: 2px;
    top: 5px; 
    font-size: 12px;
    color: $grey;
  }
}

.custom-modal{
  .modal-header, .modal-footer{
    border: none;
  }
  .modal-content{
    border-radius: 4px;
    border-color: transparent;
    box-shadow: none;
  }
  .modal-body{
    padding: 15px 25px;
  }
}

.custom-thumbnail{
  margin: auto;
  line-height: 76px;
  text-align: center;
  height: 76px;
  width: 76px;
  font-size: 30px;
  border: 1px solid #979797;
  border-radius: 2px;
  color: #979797;
  background-color: #D8D8D8;
}

.upload-box{
  height: 90px;
  width: 90px;
  line-height: 90px;
  border: 1px solid $lighter-grey;
  color: $grey;
  text-align: center;
}

.status-color{
  height: 8px;
  width: 25px;
  border-radius: 3px;
  margin-left: auto;
  margin-bottom: 3px;
  &.yellow{
    background-color: #FFDEA0;
  }
  &.grey{
    background-color: $grey;
  }
}

.datepicker table tr td, .datepicker table tr th{
  border-radius: 0;
}