- @lists.each do |i|
  %tr(data-activity-id="#{i.id}")
    %td{style: "width:25%;"}
      = i.company_name
    %td.activity-desc
      = i.company_name
    %td
      .text-right.font-12.flex.justify-content-flex-end
        .margin-right-10
          .status-color.grey
          .grey
            = i.contact_name
        .dropdown.pull-right
          #dropdown-action.dropdown-toggle(data-toggle="dropdown")
            %span.glyphicon.glyphicon-option-vertical.font-20.grey
          %ul.dropdown-menu.dropdown-menu-right
            %li.dropdown-item
              = form_for(i, url: render_update_modal_activity_path(i.id), method: :post, remote: :true, html: {class: "form-render-update-modal-activity"}) do
                = hidden_field_tag :authenticity_token, form_authenticity_token
                = button_tag t("btn.update"), class: "dropdown-menu-link"
            %li.dropdown-item
              = form_for(i, url: render_delete_modal_activity_path(i.id, lead_id: params[:id]), method: :post, remote: :true, html: {class: "form-render-delete-modal-activity"}) do
                = hidden_field_tag :authenticity_token, form_authenticity_token
                = button_tag t("btn.delete"), class: "dropdown-menu-link"

.target-form-render-update-modal-activity
.target-form-render-delete-modal-activity