#popup-update-activity.modal.fade.custom-modal
  .modal-dialog.modal-500
    .modal-content
      .modal-header
        .title-row
          = t("activity.update")
      .modal-body
        - if @activity.present?
          = form_for(@activity, url: activity_path, method: :patch, remote: :true, html: {class: "custom-form", id: "form-update-activity"}) do
            = hidden_field_tag :authenticity_token, form_authenticity_token
            = hidden_field_tag :lead_id, params[:id]
            .row
              .col-xs-6
                = label_tag :status
                .padding-left-5
                  %label.switch
                    = check_box_tag :status, true, @activity.status, id: 'input-toggle'
                    %span.slider.round
                    %span.closed
                      Closed
                    %span.active
                      Open
              .col-xs-6#target-toggle
                = label_tag :due_date
                .form-group.has-feedback.left
                  = text_field_tag :due_date, nil, class: "form-control", "data-provide": "datepicker", disabled: true, value: @activity.due_date
                  %span.glyphicon.glyphicon-calendar.form-control-feedback.left
            .row.margin-top-10
              .col-xs-12
                = label_tag :description
                = text_field_tag :description, nil, class: "form-control", value: @activity.description
      .modal-footer
        %button.btn.btn-cancel.min-width-100(data-dismiss="modal")
          = t("btn.cancel")
        %button.btn.btn-green.min-width-100{form: "form-update-activity", type: "submit"}
          = t("btn.update")