!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CrmPartner
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path('icons/jurnal-icon.png')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :scripts
  %body
    %header
      %nav
        %ul
          %li.nav-border
            = image_tag "icons/jurnal-icon.png"
          %li
            = link_to (image_tag "https://s3-ap-southeast-1.amazonaws.com/jurnal-quickbook-s3/images/icon_apps.svg"), leads_path, title: t("leads.tooltip"), "data-toggle": "tooltip", "data-placement": "right"
    = yield
